@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.skills-layout {
  &__back-button {
    cursor: pointer;
    display: block;
    max-width: 90px;
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    text-align: center;
    color: $color-base;
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    @include margin-top(1);

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }
  .skills-wrap {
    display: grid;
    grid-column-gap: 3px;
    grid-template-columns: none;
    grid-row-gap: 2px;

    .skills {
      padding-left: 25px;
      margin-bottom: 15px;
      border-left: 1px solid #e1e1e1;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      &__header {
        color: #5d686f;
        margin-top: 5px;
      }

      &__header {
        display: block;
      }

      &__container {
        padding-left: 40px;
        padding-top: 8px;

        ul {
          padding-left: 0px;
          margin-top: 0px;
          margin-bottom: 5px;
          li {
            margin-top: 0px;
            margin-left: 30px;
            margin-bottom: 2px;
            list-style-type: disc;
            span {
              color: #5d686f;
            }
          }
        }
      }

      &__subtitle {
        margin: 0px;
        color: #5d686f;
        &:not(:first-child) {
          margin-top: 0px;
        }
      }
    }
  }
}

@include breakpoint-md {
  .skills-layout {
    &__back-button {
      position: fixed;
      max-width: auto;
      margin: 0;
      top: 30px;
      left: 30px;
    }

    .skills-wrap {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
