@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.layout {
  lost-center: $layout-width;
  position: relative;

  &-doc-mask {
    height: 30%;
    top: 70%;
    position: absolute;
  }
}
